<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Name and gender List</title>
</head>
<body>
<h1>Name and Gender List</h1>


    <form th:action="@{/add}" th:object="${person}" th:method="post">
        <label>Name:</label>
        <input type="text" id="name" th:field="*{name}" required><br>
        <label>Gender</label>
        <input type="text" id="gender" th:field="*{gender}" required><br>
        <button type="submit" > </button>
    </form>
<table>
    <tr>
        <th>Name</th>
        <th>Gender</th>
    </tr>
    <tr th:each="person: ${persons}">
        <td th:text="${person.name}">Name</td>
        <td th:text="${person.gender}"></td>
    </tr>
</table>
</body>
</html>