<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title >Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<!-- create navigation bar (header)-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Registration and Login Module</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#colapsibleNavbar" aria-controls="colapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="colapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registration}"> Registration <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
<br>
<br>
<!-- create HTML form (header)-->
    <div class = "container">
        <div class = "row">
            <div class = "col-md-6 col-md-offset-3">
                    <!-- success message -->
                    <div th:if="${param.success}">
                        <div class="alert alert-info">You've successfully registered
                            to our awesome app!</div>
                    </div>

                    <h1>Registration</h1>
                    <form th:action="@{/registration}" method="post" th:object="${user}">
                        <div class = "form-group">
                            <label class = "control-label" for = "firstName">
                                First Name
                            </label>
                            <input class="form-control" id="firstName" required="autofocus" th:field="*{firstName}"/>
                        </div>


                        <div class = "form-group">
                            <label class = "control-label" for = "lastName">
                                Last Name
                            </label>
                            <input class="form-control" id="lastName" required="autofocus" th:field="*{lastName}"/>
                        </div>

                        <div class = "form-group">
                            <label class = "control-label" for = "email">
                                Email
                            </label>
                            <input class="form-control" id ="email" required="autofocus" th:field="*{email}"/>
                        </div>

                        <div class = "form-group">
                            <label class = "control-label" for = "password">
                                Password
                            </label>
                            <input class="form-control" type = "password" id= "password" required="autofocus" th:field="*{password}"/>
                        </div>

                        <div class = "form-group">
                            <button type="submit" class="btn btn-success"> Register </button>
                            <span> Already registered?
                                <a href="/" th:href="@{/login}"> Login here. </a>
                            </span>
                        </div>
                    </form>
                </form>
            </div>
        </div>
    </div>
</body>
</html>